
<mat-toolbar color="primary" class="fixed-header">
<mat-toolbar-row>
<span class="title-center">Task management System</span>
<button mat-icon-button>
      <mat-icon>home</mat-icon>
</button>
</mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Logout</button>
</mat-menu>
 <div>
    <h3 style="text-align: center;">Icons</h3>
    <mat-card style="display: flex; justify-content: space-around;">
      <mat-icon>home</mat-icon>
      <mat-icon>dashboard</mat-icon>
      <mat-icon>settings_applications</mat-icon>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>notifications</mat-icon>
      <mat-icon>refresh</mat-icon>
    </mat-card>
</div>
